@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 20% 98.6%; /* #F9F7F7 */
    --foreground: 0 0% 0%; /* Black */
    --card: 220 33.3% 92.7%; /* #DBE2EF */
    --card-foreground: 210 65% 18.2%; /* #112D4E */
    --popover: 220 33.3% 92.7%; /* #DBE2EF */
    --popover-foreground: 210 65% 18.2%; /* #112D4E */
    --primary: 212 50% 46.1%; /* #3F72AF */
    --primary-foreground: 300 20% 98.6%; /* #F9F7F7 */
    --secondary: 220 33.3% 92.7%; /* #DBE2EF */
    --secondary-foreground: 210 65% 18.2%; /* #112D4E */
    --muted: 220 33.3% 92.7%; /* #DBE2EF */
    --muted-foreground: 212 50% 46.1%; /* #3F72AF */
    --accent: 220 33.3% 92.7%; /* #DBE2EF */
    --accent-foreground: 212 50% 46.1%; /* #3F72AF */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 33.3% 88%; /* A slightly darker shade of #DBE2EF */
    --input: 220 33.3% 88%;
    --ring: 212 50% 46.1%; /* #3F72AF */
    --chart-1: 212 50% 46.1%;
    --chart-2: 210 65% 18.2%;
    --chart-3: 220 33.3% 92.7%;
    --chart-4: 212 50% 66%;
    --chart-5: 210 65% 38%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 65% 18.2%; /* #112D4E */
    --foreground: 220 33.3% 92.7%; /* #DBE2EF */
    --card: 212 50% 25%; /* Darker shade of #3F72AF */
    --card-foreground: 220 33.3% 92.7%; /* #DBE2EF */
    --popover: 212 50% 25%; 
    --popover-foreground: 220 33.3% 92.7%;
    --primary: 212 50% 56.1%; /* A slightly lighter #3F72AF */
    --primary-foreground: 300 20% 98.6%; /* #F9F7F7 */
    --secondary: 212 50% 30%;
    --secondary-foreground: 220 33.3% 92.7%;
    --muted: 212 50% 30%;
    --muted-foreground: 220 33.3% 80%;
    --accent: 212 50% 30%;
    --accent-foreground: 212 50% 56.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 212 50% 30%;
    --input: 212 50% 30%;
    --ring: 212 50% 56.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-pt-sans), sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
  .moving-text {
    animation: moving-text 20s linear infinite;
  }
  @keyframes moving-text {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .admin-active footer {
      @apply hidden;
  }

  .page-loader-progress {
    animation: page-loader-indeterminate 1.5s infinite cubic-bezier(0.65, 0, 0.35, 1);
  }

  @keyframes page-loader-indeterminate {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
